* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    user-select: none;
    background: cadetblue;
}

.game__wrapper {
    max-width: 1050px;
    margin: auto;
}

.game__title {
    width: 100%;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 3rem;
}

.game__help {
    color: black !important;
    font-size: 2rem;
}

#cnv {
    cursor: url(img/cursor.png), none;
}